---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Advertising Solutions — AH-design"
  htmlClass="no-js vlt-is--service-single vlt-is--header-fullscreen vlt-is--footer-style-1 vlt-is--footer-fixed"
>
  <div class="vlt-site-overlay"></div>
  <main class="vlt-main">
    <div class="vlt-page-content">
      <div class="vlt-page-title vlt-page-title--style-2 jarallax">
        <div class="vlt-page-title__overlay"></div>
        <div class="container">
          <h1
            class="vlt-page-title__title lax"
            data-lax-translate-y="0 0, vh (vw*0.25)"
            data-lax-opacity="1 1, (vh*0.5) 0"
            data-lax-anchor=".vlt-page-title">
            Advertising Solutions
          </h1>
        </div>
      </div>
      <div id="content"></div>
      <section>
        <div class="vlt-gap-100"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-11 offset-md-1">
              <div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
                <span class="vlt-display-1 has-primary-color">Seth Godin</span>
              </div>
              <div class="vlt-gap-30"></div>
            </div>
            <div class="col-md-5 offset-md-1">
              <div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
                <h4><q>Making promises and keeping them is a great way to build a brand</q></h4>
              </div>
              <div class="vlt-gap-40--sm"></div>
            </div>
            <div class="col-md-5">
              <div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
                <p class="fz-3 text-justify">
                  Digital marketing is essential for any business that wants to be part of the
                  digital marketplace, but navigating the type of channel you want to use and grow
                  your business may feel tricky. Here&rsquo;s what you need to know<br />
                  Digital market channels can be categorized based on the type of audience and
                  their content:
                </p>
                <ul class="vlt-styled-list vlt-styled-list--style-3">
                  <br />
                  <li>Search engines</li>
                  <li>Social media</li>
                  <li>Websites</li>
                  <li>Audio and video materials</li>
                  <li>Digital and offline events</li>
                  <li>and more.</li>
                </ul>
              </div>
              <div class="vlt-gap-30"></div>
              <div class="vlt-gap-50"></div>
            </div>
            <div class="col-md-10 offset-md-1">
              <div class="vlt-animated-block" data-aos="fade" data-aos-delay="200">
                <p class="fz-3 text-justify">
                  You can get people&rsquo;s attention by using images, video, texts, or any other
                  digital media and converting them to your customer.
                </p>
              </div>
              <div class="vlt-gap-30"></div>
              <p class="fz-3 text-justify">
                At this point, the main challenge that most businesses face is how to make it
                budget-friendly and affordable for their business. <br />
                We recommend you have a strategic plan and decide which channel of digital
                marketing you want to use to attract the audience to be your customer. But how to
                find which one suits your business more?
              </p>
              <div class="vlt-gap-30"></div>
              <img src="/static/img/services/Marketing.png" />
              <div class="vlt-gap-50"></div>
              <p class="fz-3 text-justify">
                You&rsquo;ll need to learn about the different types of digital marketing and how
                each of them can advance your business. You will be able to maximize your result
                and optimize your budget.<br />
                When it comes to digital marketing, you don&rsquo;t have to do it alone.
                <br />
                If you need help to get started with your strategy and implement that we are here
                to help you, <a href="order">CONTACT US</a> now!
              </p>
            </div>
          </div>
        </div>
        <div class="vlt-gap-120"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
                <div class="vlt-section-title vlt-section-title--style-2">
                  <h2 class="vlt-section-title__title">Workflow</h2>
                </div>
              </div>
              <div class="vlt-gap-70"></div>
            </div>
            <div class="col-md-10 offset-md-1">
              <div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
                <p class="text-justify">
                  We follow a unique workflow for each service, which is an iterative few-step
                  procedure, to ensure client satisfaction. To create a targeted advertisementwe
                  need you to Providing some essential information to start the advertising cycle.
                </p>
                <div class="vlt-gap-30"></div>
                <h4 class="text-center">Advertising process:</h4>
                <img src="/static/img/services/ad-workflow.png" />
                <div class="vlt-gap-50"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="vlt-gap-100"></div>
      </section>
      <section
        class="vlt-page-navigation vlt-page-navigation--style-1 has-black-color"
        style="background-color: #e82e31;"
      >
        <div class="vlt-gap-130"></div>
        <div class="container">
          <div class="text-center">
            <div class="vlt-stroke-text vlt-stroke-text--lg" style="color: white;">
              <a href="order" target="_self">Let's start</a>
            </div>
          </div>
        </div>
        <div class="vlt-gap-130"></div>
      </section>
    </div>
  </main>
</BaseLayout>
