---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Prices — AH-design"
  htmlClass="no-js vlt-is--careers-single vlt-is--header-fullscreen vlt-is--footer-style-1 vlt-is--footer-fixed"
>
<!--Site overlay-->
	<div class="vlt-site-overlay"></div>
	<!--Main-->
	<main class="vlt-main">
		<!--Page content-->
		<div class="vlt-page-content">
			<div class="vlt-page-title vlt-page-title--style-4">
				<div class="container">
					<div class="row">
						<div class="col-md-7 offset-md-1">
							<h1 class="vlt-page-title__title">We prioritize quality
							</h1>
						</div>
						<div class="col-md-3">
							<div class="vlt-page-title__phantom-title lax" data-lax-translate-x="0 0, vw (vw*0.5)"
								data-lax-opacity="1 1, 250 0" data-lax-anchor=".vlt-page-title">
								Prices
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="content"></div>


			<!--=========== intro ===========-->
			<section>
				<div class="vlt-gap-100"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-11 offset-md-1">
							<!--Animated block-->
							<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
								<p class="fz-3 text-justify">
									We offer different price packages depending on our customers' needs. 
									Several factors such as size, style, and functionality features influence the price of the web desiign, advertisement, and business development packages.

								</p>
							</div>

						</div>

						<div class="vlt-gap-120"></div>
						<div class="col-md-11 offset-md-1">
							<!--Animated block-->
							<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
								<!--Section title-->
								<div class="vlt-section-title vlt-section-title--style-1">
									<h3 class="vlt-section-title__title">Price is what you pay. Value is what you get.
									</h3>

								</div>
							</div>
							<div class="vlt-gap-40--sm"></div>
						</div>
						<div class="col-md-11 offset-md-1">
							<!--Animated block-->
							<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0"><span
									class="vlt-display-1 has-primary-color">— Warren Buffett</span>
							</div>
							<div class="vlt-gap-30"></div>
						</div>
					</div>
				</div>
				<div class="vlt-gap-120"></div>
			</section>


			<!--================ webdesign package ================== -->
			<section class="jarallax has-gray-color" style="background-color: black;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<div class="vlt-stretch-block to-left vlt-devide-section">
								<div class="position-relative d-flex align-items-end justify-content-end">

								</div>
							</div>
							<div class="vlt-gap-120"></div>
						</div>
						<div class="col-md-10 offset-md-1">
							<!--Animated block-->
							<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
								<h5 class="has-white-color">WEBDESIGN PACKAGES:</h5>
							</div>
							<div class="vlt-gap-35"></div>
							<!--Animated block-->
							<div class="vlt-animated-block text-justify" data-aos="fade" data-aos-delay="100">
								<p style="font-size: 20px;">
								The price is largely determined by the<b style="color:#e82e31"> size </b>of the website.
								The <b style="color:#e82e31">number of pages </b>of the website, which can range from 1
								to 200 or more, determines its size. The<b style="color:#e82e31"> style </b>and the
								desired <b style="color:#e82e31">features </b>have an impact on the price as well.
								No matter the style and features you choose, from simple to high-end, the
								most important thing is that the design of the website or web application should
								represent your
								brand while providing an intuitive feel and an excellent user interface.
							</p>
							</div>
							<div class="vlt-gap-60--sm"></div>
						</div>
					</div>
				</div>
				<div class="vlt-gap-50"></div>

				<div class="container">
					<div class="mt-5">
						<!-- Basic plan -->
						<div class="d-style btn btn-brc-tp border-2 bgc-black  w-100 my-2 py-3 shadow-sm">
							<!-- Basic Plan -->
							<div class="row align-items-center">
								<div class="col-12 col-md-4">
									<h4 class="pt-3 text-170 text-600  letter-spacing">
										Basic Plan
									</h4>

									<div class="text-secondary-d1 text-120">
										<span class="ml-n15 align-text-bottom">From </span> <span class="text-180"
											style="color: #918f8f;"> 300 €</span>
									</div>
								</div>

								<ul
									class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
									<li>
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span>
											<span class="text-110">Up to 5 pages
											</span>
									</li>

									<li class="mt-25">
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span class="text-110">
											Simple but elegant style
										</span>
									</li>
									<li class="mt-25">
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span class="text-110">
											Effective functionality
										</span>
									</li>

									<li class="mt-25">
										<i class="fa fa-times text-danger-m3 text-110 mr-2 mt-1"></i>
										<span class="text-110">
											Suitable for <b>startups </b>and small businesses
										</span>
									</li>
								</ul>

								<div class="col-12 col-md-4 text-center">
									<a href="order"
										class="f-n-hover btn vlt-btn--tertiary btn-raised px-4 py-25 w-75 text-600">Get
										Started</a>
								</div>
							</div>

						</div>

						<!-- standard plan -->
						<div class="d-style bgc-black btn btn-brc-tp w-100 my-2 py-3 shadow-sm border-2">
							<!-- Pro Plan -->
							<div class="row align-items-center">
								<div class="col-12 col-md-4">
									<h4 class="pt-3 text-170 text-600 letter-spacing">
										Standard Plan
									</h4>

									<div class="text-secondary-d2 text-120">
										<span class="align-text-bottom">From </span><span class="text-180"
											style="color: #918f8f;"> 600 €</span>
									</div>
								</div>

								<ul
									class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
									<li>
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span>
											<span class="text-110">Up to 10 pages</span>
										</span>
									</li>

									<li class="mt-25">
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span class="text-110">
											Performance-driven style
										</span>
									</li>
									<li class="mt-25">
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span class="text-110">
											Effective functionality
										</span>
									</li>
									<li class="mt-25">
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span class="text-110">
											Ideal for midsize to large businesses
										</span>
									</li>
								</ul>

								<div class="col-12 col-md-4 text-center">
									<a href="order"
										class="f-n-hover btn vlt-btn--tertiary btn-raised px-4 py-25 w-75 text-600">Get
										Started</a>
								</div>
							</div>

						</div>

						<!-- advanced plan -->
						<div class="d-style btn btn-brc-tp border-2 bgc-black w-100 my-2 py-3 shadow-sm">
							<!-- Premium Plan -->
							<div class="row align-items-center">
								<div class="col-12 col-md-4">
									<h4 class="pt-3 text-170 text-600 letter-spacing">
										Premium Plan
									</h4>

									<div class="text-secondary-d1 text-120">
										<span class="ml-n15 align-text-bottom">From </span><span class="text-180"
											style="color: #918f8f;">1200 €</span>

									</div>
								</div>

								<ul
									class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
									<li>
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span>
											<span class="text-110">Up to 20 pages</span>
										</span>
									</li>

									<li class="mt-25">
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span class="text-110">
											Customizes
										</span>
									</li>

									<li class="mt-25">
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span class="text-110">
											Well-functionality
										</span>
									</li>
									<li class="mt-25">
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span class="text-110">
											Database/Integration
										</span>
									</li>
									<li class="mt-25">
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span class="text-110">
											Suitable for small organization
										</span>
									</li>
								</ul>

								<div class="col-12 col-md-4 text-center">
									<a href="order"
										class="f-n-hover btn vlt-btn--tertiary btn-raised px-4 py-25 w-75 text-600">Get
										Started</a>
								</div>
							</div>

						</div>

						<!-- all inclusive plan -->
						<div class="d-style btn btn-brc-tp border-2 bgc-black w-100 my-2 py-3 shadow-sm">
							<!-- Premium Plan -->
							<div class="row align-items-center">
								<div class="col-12 col-md-4">
									<h4 class="pt-3 text-170 text-600 letter-spacing">
										All-inclusive Plan
									</h4>

									<div class="text-secondary-d1 text-120">
										<span class="ml-n15 align-text-bottom">Based on requirement </span>
									</div>
								</div>

								<ul
									class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
									<li>
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span>
											<span class="text-110">minimum 20 pages</span>
										</span>
									</li>

									<li class="mt-25">
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span class="text-110">
											Tailor-made style
										</span>
									</li>

									<li class="mt-25">
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span class="text-110">
											high functionality
										</span>
									</li>
									<li class="mt-25">
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span class="text-110">
											Database/Integration
										</span>
									</li>
									<li class="mt-25">
										<i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
										<span class="text-110">
											Suitable for big organization
										</span>
									</li>
								</ul>

								<div class="col-12 col-md-4 text-center">
									<a href="order"
										class="f-n-hover btn vlt-btn--tertiary btn-raised px-4 py-25 w-75 text-600">Get
										Started</a>
								</div>
							</div>

						</div>
					</div>
					<div class="col-md-10 offset-md-1">

						<br /><br />
						<p class="text-justify" style="font-size: 20px;">The products that we deliver have a responsive design supporting all devices and stand out
							with their user-centered aspects, interactivity and user-friendly features. <b>Individual
								quotes can be provided to accommodate to your unique needs and requirements.</b></p>

						<div class="vlt-gap-100"></div>
					</div>
				</div>
				<div class="vlt-gap-120"></div>
			</section>


			<!--================== ads package ==================-->
			<section>
				<div class="vlt-gap-120"></div>

				<div class="container">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<div class="text-center">
								<!--Animated block-->
								<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
									<!--Section title-->
									<div class="vlt-section-title vlt-section-title--style-1">
										<span class="vlt-section-title__subtitle">Online</span>
										<h2 class="vlt-section-title__title">ADVERTISEMENT SOLUTIONS:</h2>
										<div class="vlt-gap-70"></div>
										<p class="text-justify">Flat rate of<b style="color:#e82e31"> 10% </b> of your
											total monthly advertising
											investment.</p>
										<p class="text-justify">Individual quotes can be provided to accommodate to your
											unique needs and requirements.</p>
									</div>
								</div>
							</div>
							<div class="vlt-gap-70"></div>
						</div>

						<!--================== Business development ==================-->
						<div class="col-md-10 offset-md-1">
							<div class="text-center">
								<!--Animated block-->
								<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
									<!--Section title-->
									<div class="vlt-section-title vlt-section-title--style-1">
										<!-- <span class="vlt-section-title__subtitle">Send profile</span> -->
										<h2 class="vlt-section-title__title">BUSINESS DEVELOPMENT:</h2>
										<div class="vlt-gap-70"></div>
										<p class="text-justify" style="text-indent: 25px;">The price for this package is
											non fixed and negotiable.
											A few factors, such as the individual customers` needs and requirements and
											the stage that the business is currently in should be considered when
											calculating the price offer. Individual quotes can be provided to
											accommodate to your
											unique needs and requirements.</p>

									</div>
								</div>
							</div>
							<div class="vlt-gap-70"></div>
							<!--Animated block-->

						</div>
					</div>
				</div>
				<div class="vlt-gap-120"></div>
			</section>


			<!--============== Let's work ================-->
			<section class="has-primary-background-color has-white-color">
				<div class="vlt-gap-100"></div>
				<div class="container">
					<div class="text-center">
						<!--Animated block-->
						<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Stroke text-->
							<div class="vlt-stroke-text vlt-stroke-text--lg"><a href="order" target="_self">Let's start</a>
							</div>
						</div>
					</div>
				</div>
				<div class="vlt-gap-100"></div>
			</section>
		</div>
	</main>
</BaseLayout>
