---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Webdesign and Development — AH-design"
  htmlClass="no-js vlt-is--service-single vlt-is--header-fullscreen vlt-is--footer-style-1 vlt-is--footer-fixed"
>
  <div class="vlt-site-overlay"></div>
  <main class="vlt-main">
    <div class="vlt-page-content">
      <div class="vlt-page-title vlt-page-title--style-2 jarallax">
        <div class="vlt-page-title__overlay"></div>
        <div class="container">
          <h1
            class="vlt-page-title__title lax"
            data-lax-translate-y="0 0, vh (vw*0.25)"
            data-lax-opacity="1 1, (vh*0.5) 0"
            data-lax-anchor=".vlt-page-title">
            Webdesign and Development
          </h1>
        </div>
      </div>
      <div id="content"></div>
      <section>
        <div class="vlt-gap-100"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-11 offset-md-1">
              <div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
                <span class="vlt-display-1 has-primary-color">Description</span>
              </div>
              <div class="vlt-gap-30"></div>
            </div>
            <div class="col-md-5 offset-md-1">
              <div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
                <h4>
                  Behold you lesser our let <br />seed there for and light great <br />lights that
                  seasons.
                </h4>
              </div>
              <div class="vlt-gap-40--sm"></div>
            </div>
            <div class="col-md-5">
              <div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
                <p class="fz-3 text-justify">
                  Your website is the face of your brand in the online world, where your customers
                  come to gain knowledge about you and your business.<br />
                  It is the ultimate key tool you have in your arsenal to get more - and better -
                  clients and customers.
                </p>
              </div>
              <div class="vlt-gap-30"></div>
              <div class="vlt-animated-block" data-aos="fade" data-aos-delay="200">
                <p class="fz-3 text-justify">
                  When done correctly, a great website will function as a lead-generating machine
                  for you and will turn web traffic into significant conversions.
                </p>
              </div>
              <div class="vlt-gap-50"></div>
            </div>
            <div class="col-md-10 offset-md-1">
              <div class="vlt-animated-block" data-aos="fade" data-aos-delay="200">
                <p class="fz-3 text-justify">
                  But If you fail to follow the rules, it can lead to a chain of irreversible
                  problems that chew up your time and money. And sometimes you might not even know
                  where the problem starts. <br />
                  A successful website does three things:
                  <br />
                </p>
                <ul class="vlt-styled-list vlt-styled-list--style-3">
                  <li>It attracts the right kinds of visitors;</li>
                  <li>It guides them to the main services or products you offer;</li>
                  <li>It collects contact details for future ongoing relations.</li>
                </ul>
                <br />
                You can always refer to DIY solutions and try to figure it out yourself. But you
                might already know that it would take you too much time and effort, if you
                don&rsquo;t outsource it.
                <br />
                If you need help to get started with your website,<a href="order">
                  CONTACT US
                </a>now!
              </div>
            </div>
          </div>
        </div>
        <div class="vlt-gap-120"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
                <div class="vlt-section-title vlt-section-title--style-2">
                  <h2 class="vlt-section-title__title">Workflow</h2>
                </div>
              </div>
              <div class="vlt-gap-70"></div>
            </div>
            <div class="col-md-10 offset-md-1">
              <div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
                <p class="text-justify">
                  We follow a unique workflow for each service, which is an iterative few-step
                  procedure, to ensure client satisfaction. There is a 5-step process for website
                  design, including: Strategy, Design, Development, Testing and, Website set-off.
                  Please note that each step require some participation of you as a clinet which
                  are mentioned below the workflow
                </p>
                <div class="vlt-gap-30"></div>
                <h4 class="text-center">website designing process:</h4>
                <img src="/static/img/services/website-workflow.png" />
                <div class="vlt-gap-50"></div>
                <h5>Client participation:</h5>
                <div class="vlt-gap-20"></div>
                <img src="/static/img/services/wf.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="vlt-gap-100"></div>
      </section>
      <section
        class="vlt-page-navigation vlt-page-navigation--style-1 has-black-color"
        style="background-color: #e82e31;"
      >
        <div class="vlt-gap-130"></div>
        <div class="container">
          <div class="text-center">
            <div class="vlt-stroke-text vlt-stroke-text--lg" style="color: white;">
              <a href="order" target="_self">Let's start</a>
            </div>
          </div>
        </div>
        <div class="vlt-gap-130"></div>
      </section>
    </div>
  </main>
</BaseLayout>
