<!DOCTYPE html>
<html class="no-js vlt-is--coming-soon vlt-is--header-fullscreen vlt-is--footer-style-1 vlt-is--footer-fixed" lang="en">

	{% extends 'base.html' %}


	{% block body %}

	<!--Site overlay-->
	<div class="vlt-site-overlay"></div>
	<!--Main-->
	<main class="vlt-main">
		<!--Page content-->
		<div class="vlt-page-content">
			<!--Section-->
			<section>
				<div class="container-fluid p-0">
					<div class="row no-gutters">
						<div class="col-lg-6 vlt-column-space-to-container to-left">
							<div class="min-vh-100">
								<!--Particle image--><img class="vlt-particle" src="/static/img/root/banner-red-shape.png" data-animation-name="fadeInRight" alt="" style="position: absolute; top: 0; right: 0; max-width: 300px;" loading="lazy">
								<!--Particle image--><img class="vlt-particle" src="/static/img/root/coming-soon-plus-pattern.png" data-animation-name="fadeInUp" alt="" style="position: absolute; bottom: 0; right: 0; max-width: 139px; --animate-delay: 1s;" loading="lazy">
								<div class="vlt-gap-120"></div>
								<!--Animated block-->
								<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0" style="margin-top: 25%;">
									<div class="has-light-gray-color">
										<!--Stroke text-->
										<div class="vlt-stroke-text vlt-stroke-text--lg">Blog!
										</div>
									</div>
									<h2 class="negative-top-offset">Coming soon!</h2>
									<div class="vlt-gap-20"></div>
									<!--Countdown-->
									<div class="vlt-countdown" data-due-date="2021/01/01"><span data-days></span><span data-hours></span><span data-minutes></span><span data-seconds></span></div>
									<div class="vlt-gap-20"></div>
									<p class="fz-3">We’ll be here soon with our Blog, <br>subscribe to be notified.</p>
									<div class="vlt-gap-30"></div>
									<!--Subscribe form-->
									<form class="vlt-subscribe-form" id="subscribtions">
										<input class="vlt-form-control" type="email" placeholder=" ">
										<label class="vlt-form-label">Email address*</label>
										<button>Notify me <i class="icon-envelope"></i></button>
										<p id="msuccess"></p>
									</form>
									<div class="vlt-gap-90"></div>
									<div class="has-black-color">
										<a class="vlt-social-icon vlt-social-icon--style-1" href="https://www.facebook.com/ahwebsitesdesign">FB.</a>
										<a class="vlt-social-icon vlt-social-icon--style-1" href="https://www.instagram.com/ah_websitedesign/">IG.</a>
										<a class="vlt-social-icon vlt-social-icon--style-1" href="https://www.linkedin.com/in/ahdesignco/">IN.</a>
										<a class="vlt-social-icon vlt-social-icon--style-1" href="#">YT.</a></div>
								</div>
								<div class="vlt-gap-40"></div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="vlt-stretch-block to-right reset-mobile h-100">
								<div class="d-flex align-items-end jarallax h-100 mh-550" style="background-color: black;">
					
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
	{% endblock body %}