<!DOCTYPE html>
<html class="no-js vlt-is--contact-01 vlt-is--header-fullscreen vlt-is--footer-style-1 vlt-is--footer-fixed" lang="en">

{% extends 'base.html' %}


{% block body %}
	<!--Site overlay-->
	<div class="vlt-site-overlay"></div>
	
	
	<!--================== Main ===================-->
	<main class="vlt-main">
		<!--Page content-->
		<div class="vlt-page-content">
			<!--Page title-->
			<div class="vlt-page-title vlt-page-title--style-4">
				<div class="container">
					<div class="row">
						<div class="col-md-7 offset-md-1">
							<h1 class="vlt-page-title__title">We'd love to hear from you
							</h1>
						</div>
						<div class="col-md-3">
							<div class="vlt-page-title__phantom-title lax" data-lax-translate-x="0 0, vw (vw*0.5)"
								data-lax-opacity="1 1, 250 0" data-lax-anchor=".vlt-page-title">Contact
							</div>
						</div>
						<div class="col-md-7 offset-md-1">
							<p class="vlt-page-title__subtitle">
								You can contact us by filling out the form or reach us directly by calling the number below. We offer complimentary advice in the initial contact phase.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div id="content"></div>


			<!--===================== Form ========================-->
			<section>
				<div class="vlt-gap-100"></div>
				<div class="container position-relative">
					<!--Contact form-->
					<form class="vlt-contact-form vlt-contact-form--style-1 has-extra-light-gray-background-color"
						novalidate="novalidate" id="contactsubmit">
						<div class="vlt-form-row two-col">
							<div class="vlt-form-group">
								<input class="vlt-form-control" type="text" name="name" required="required"
									placeholder=" ">
								<label class="vlt-form-label">Your name*</label>
							</div>
							<div class="vlt-form-group">
								<input class="vlt-form-control" type="email" name="email" required="required"
									placeholder=" ">
								<label class="vlt-form-label">Email address*</label>
							</div>
						</div>
						<div class="vlt-form-row two-col">
							<div class="vlt-form-group">
								<input class="vlt-form-control" type="tel" name="phone" placeholder=" ">
								<label class="vlt-form-label">Phone number</label>
							</div>
							<div class="vlt-form-group">
								<input class="vlt-form-control" type="text" name="company" placeholder=" ">
								<label class="vlt-form-label">Company</label>
							</div>
						</div>
						<div class="vlt-form-group">
							<input class="vlt-form-control" type="text" name="title" required="required"
								placeholder=" ">
							<label class="vlt-form-label">Title*</label>
						</div>
						<div class="vlt-form-group">
							<textarea class="vlt-form-control" name="message" rows="5" placeholder=" "></textarea>
							<label class="vlt-form-label">Message*</label>
						</div>
						<div class="message success">Your message is successfully sent...</div>
						<div class="message danger">Sorry something went wrong!</div>
						<div class="vlt-gap-40"></div>
						<div class="text-center">
							<!--Button-->
							<button class="vlt-btn vlt-btn--secondary vlt-btn--lg">Submit
							</button>
						
						</div>
						<p id="msgoutput" style="display: none;"></p>
					</form>
				</div>
			</section>

			<!--Section-->
			<section>
				<div class="vlt-gap-120"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<!--Simple image-->
							<div class="vlt-simple-image">
								<div class="vlt-simple-image__mask" data-aos="image-mask-animation" data-aos-delay="0">
									<div class="inside"></div>
								</div>
								<img src="static/img/4.png" alt="" loading="lazy">
							</div>
							<div class="vlt-gap-35"></div>
							<!--Animated block-->
							<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
								<h5>Email:</h5>
								<div class="vlt-gap-20"></div>
								<p class="lh-2"><a href="mailto:info@ahdesign.website">info@ahdesign.website</a></p>
							</div>
							<div class="vlt-gap-60--sm"></div>
						</div>
						<div class="col-md-4">
							<!--Simple image-->
							<div class="vlt-simple-image">
								<div class="vlt-simple-image__mask" data-aos="image-mask-animation"
									data-aos-delay="100">
									<div class="inside"></div>
								</div>
								<img src="static/img/6.png" alt="" loading="lazy">
							</div>
							<div class="vlt-gap-35"></div>
							<!--Animated block-->
							<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
								<h5>Phone:</h5>
								<div class="vlt-gap-20"></div>
								<p class="lh-2"><a href="tel:+359886660034">(+359)- 88 666 0034</a></p>
							</div>
							<div class="vlt-gap-60--sm"></div>
						</div>
						<div class="col-md-4">
							<!--Simple image-->
							<div class="vlt-simple-image">
								<div class="vlt-simple-image__mask" data-aos="image-mask-animation"
									data-aos-delay="200">
									<div class="inside"></div>
								</div>
								<img src="static/img/5.png" alt="" loading="lazy">
							</div>
							<div class="vlt-gap-35"></div>
							<!--Animated block-->
							<div class="vlt-animated-block" data-aos="fade" data-aos-delay="200">
								<h5><a href="#">Working hours:</a></h5>
								<div class="vlt-gap-20"></div>
								<p class="lh-2"><a href="">Monday - Friday, 10am - 6pm</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="vlt-gap-120"></div>
			</section>
		</div>
	</main>


	{% endblock body %}


	{% block js %}
	<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
	<script>

		const form = document.getElementById('contactsubmit')
		const output = document.getElementById('msgoutput')

		form.addEventListener('submit', (e)=>{
			e.preventDefault()
			let data = new FormData(form)
			grecaptcha.ready(function () {
				grecaptcha.execute('{{ site_key }}', { action: 'submit' }).then(function (token) {
					// Add your logic to submit to your backend server here.
					data.append("g-recaptcha-response", token)
			fetch('', {
				method: 'POST',
				body: data,
			}
			).then( res => res.json())
			 .then(data => {
				 if (data.success) {
					 output.style.display='block'
					 output.style.color='green'
					 output.innerHTML = " Your message has been sent"
				 }
				 if (data.error) {
					 output.style.display='block'
					 output.style.color='red'
					 output.innerHTML = " Something went wrong please try again"
				 }
			 })
			 .catch(err => {
					output.style.display='block'
					output.style.color='red'
					output.innerHTML = " Something went wrong please try again"
					console.log(err)
				 })
		    })
		})
	})
	</script>
    {% endblock js %}
</body>

</html>