<!DOCTYPE html>
<html class="no-js vlt-is--work-masonry-4-col vlt-is--header-fullscreen
	vlt-is--footer-style-1 vlt-is--footer-fixed" lang="en">

	{% extends "base.html" %}
	{% block body %}


	<!--Site overlay-->
	<div class="vlt-site-overlay"></div>
	<!--Main-->
	<main class="vlt-main">
		<!--Page content-->
		<div class="vlt-page-content">
			<div class="vlt-page-title vlt-page-title--style-4">
				<div class="container">
					<div class="row">
						<div class="col-md-7 offset-md-1">
							<h1 class="vlt-page-title__title">We Display With Pride
							</h1>
						</div>
						<div class="col-md-3">
							<div class="vlt-page-title__phantom-title lax" data-lax-translate-x="0
									0, vw (vw*0.5)" data-lax-opacity="1 1, 250 0" data-lax-anchor=".vlt-page-title">Projects
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="content"></div>
			<!--Section-->
			<section>
				<div class="vlt-gap-120"></div>
				<div class="container">
					<div class="text-center">
						<p>Below you can get a taste of the WEBSITES CREATED BY us. <br />
							"We don't push our ideas onto customers, we simply want to make what
							they want."</p>
					</div>
					<div class="vlt-gap-90"></div>
					<div class="vlt-isotope-grid" data-columns="4" data-layout="masonry" data-x-gap="30|30"
						data-y-gap="30|30" data-controls="#vlt-filter-portfolio-05"
						data-load-more-selector="#vlt-load-more-portfolio-05">
						<div class="grid-sizer"></div>
						<div class="grid-item filter-design">
							<!--Portfolio item-->
							<article class="vlt-work vlt-work--style-2">
								<div class="vlt-work__media project-shdow">
									<a class="vlt-work__link has-cursor" href="#"></a>
									<img src="/static/img/works/nuris.png" alt="" loading="lazy">
								</div>
								<div class="vlt-work__meta">
									<h5 class="vlt-work__title">Dentistry
									</h5><span class="vlt-work__category">Service</span>
								</div>
							</article>
						</div>
						<div class="grid-item filter-photography ">
							<!--Portfolio item-->
							<article class="vlt-work vlt-work--style-2">
								<div class="vlt-work__media project-shdow">
									<a class="vlt-work__link has-cursor" href="#"></a>
									<img src="/static/img/works/bfs.png" alt="" loading="lazy">
								</div>
								<div class="vlt-work__meta">
									<h5 class="vlt-work__title">Factory
									</h5><span class="vlt-work__category">Product</span>
								</div>
							</article>
						</div>
						<div class="grid-item filter-branding ">
							<!--Portfolio item-->
							<article class="vlt-work vlt-work--style-2">
								<div class="vlt-work__media project-shdow">
									<a class="vlt-work__link has-cursor" href="#"></a>
									<img src="/static/img/works/obs.png" alt="" loading="lazy">
								</div>
								<div class="vlt-work__meta">
									<h5 class="vlt-work__title">Portal
									</h5><span class="vlt-work__category">Service</span>
								</div>
							</article>
						</div>
						<div class="grid-item filter-marketing ">
							<!--Portfolio item-->
							<article class="vlt-work vlt-work--style-2">
								<div class="vlt-work__media project-shdow">
									<a class="vlt-work__link has-cursor" href="#"></a>
									<img src="/static/img/works/niks.png" alt="" loading="lazy">
								</div>
								<div class="vlt-work__meta">
									<h5 class="vlt-work__title">constructional
									</h5><span class="vlt-work__category">Service</span>
								</div>
							</article>
						</div>
						<div class="grid-item filter-photography ">
							<!--Portfolio item-->
							<article class="vlt-work vlt-work--style-2">
								<div class="vlt-work__media project-shdow">
									<a class="vlt-work__link has-cursor" href="#"></a>
									<img src="/static/img/works/chain.png" alt="" loading="lazy">
								</div>
								<div class="vlt-work__meta">
									<h5 class="vlt-work__title">Network
									</h5><span class="vlt-work__category">Security</span>
								</div>
							</article>
						</div>
						<div class="grid-item filter-marketing ">
							<!--Portfolio item-->
							<article class="vlt-work vlt-work--style-2">
								<div class="vlt-work__media project-shdow">
									<a class="vlt-work__link has-cursor" href="#"></a>
									<img src="/static/img/works/daymumet.png" alt="" loading="lazy">
								</div>
								<div class="vlt-work__meta">
									<h5 class="vlt-work__title">Flower
									</h5><span class="vlt-work__category">Shop</span>
								</div>
							</article>
						</div>
						<div class="grid-item filter-branding ">
							<!--Portfolio item-->
							<article class="vlt-work vlt-work--style-2">
								<div class="vlt-work__media project-shdow">
									<a class="vlt-work__link has-cursor" href="#"></a>
									<img src="/static/img/works/flhco.png" alt="" loading="lazy">
								</div>
								<div class="vlt-work__meta">
									<h5 class="vlt-work__title">Business
									</h5><span class="vlt-work__category">Holding</span>
								</div>
							</article>
						</div>
						<div class="grid-item filter-design ">
							<!--Portfolio item-->
							<article class="vlt-work vlt-work--style-2">
								<div class="vlt-work__media project-shdow">
									<a class="vlt-work__link has-cursor" href="#"></a>
									<img src="/static/img/works/nuris.png" alt="" loading="lazy">
								</div>
								<div class="vlt-work__meta">
									<h5 class="vlt-work__title">Dentistry
									</h5><span class="vlt-work__category">Service</span>
								</div>
							</article>
						</div>
						<div class="grid-item filter-design ">
							<!--Portfolio item-->
							<article class="vlt-work vlt-work--style-2">
								<div class="vlt-work__media project-shdow">
									<a class="vlt-work__link has-cursor" href="#"></a>
									<img src="/static/img/works/ar.png" alt="" loading="lazy">
								</div>
								<div class="vlt-work__meta">
									<h5 class="vlt-work__title">Psycology
									</h5><span class="vlt-work__category">Service</span>
								</div>
							</article>
						</div>
						<div class="grid-item filter-design ">
							<!--Portfolio item-->
							<article class="vlt-work vlt-work--style-2">
								<div class="vlt-work__media project-shdow">
									<a class="vlt-work__link has-cursor" href="#"></a>
									<img src="/static/img/works/ana.png" alt="" loading="lazy">
								</div>
								<div class="vlt-work__meta">
									<h5 class="vlt-work__title">Mentoring
									</h5><span class="vlt-work__category">Book</span>
								</div>
							</article>
						</div>
						<div class="grid-item filter-design ">
							<!--Portfolio item-->
							<article class="vlt-work vlt-work--style-2">
								<div class="vlt-work__media project-shdow">
									<a class="vlt-work__link has-cursor" href="#"></a>
									<img src="/static/img/works/cake.png" alt="" loading="lazy">
								</div>
								<div class="vlt-work__meta">
									<h5 class="vlt-work__title">Bakery
									</h5><span class="vlt-work__category">Service</span>
								</div>
							</article>
						</div>
						<div class="grid-item filter-design ">
							<!--Portfolio item-->
							<article class="vlt-work vlt-work--style-2">
								<div class="vlt-work__media project-shdow">
									<a class="vlt-work__link has-cursor" href="#"></a>
									<img src="/static/img/works/kms.png" alt="" loading="lazy">
								</div>
								<div class="vlt-work__meta">
									<h5 class="vlt-work__title">Film Producer
									</h5><span class="vlt-work__category">photography</span>
								</div>
							</article>
						</div>
						<div class="grid-item filter-design ">
							<!--Portfolio item-->
							<article class="vlt-work vlt-work--style-2">
								<div class="vlt-work__media project-shdow">
									<a class="vlt-work__link has-cursor" href="#"></a>
									<img src="/static/img/works/AH.png" alt="" loading="lazy">
								</div>
								<div class="vlt-work__meta">
									<h5 class="vlt-work__title">IT
									</h5><span class="vlt-work__category">Service</span>
								</div>
							</article>
						</div>
						<div class="grid-item filter-design ">
							<!--Portfolio item-->
							<article class="vlt-work vlt-work--style-2">
								<div class="vlt-work__media project-shdow">
									<a class="vlt-work__link has-cursor" href="#"></a>
									<img src="/static/img/works/sample.png" alt="" loading="lazy">
								</div>
								<div class="vlt-work__meta">
									<h5 class="vlt-work__title">VPN
									</h5><span class="vlt-work__category">Service</span>
								</div>
							</article>
						</div>
					</div>
					<div class="vlt-gap-100"></div>


					<div class="text-center">
						<div id="vlt-load-more-portfolio-05">
							{# add Some functionality to a tag for load more #}
							<a class="vlt-isotope-load-more" href="#" rel="nofollow noopener">
								<i class="icon-arrow-down"></i></a>
							</div>
					</div>
				</div>
				<div class="vlt-gap-120"></div>
			</section>
		</div>
	</main>


	{% endblock body%}