<!DOCTYPE html>
<html class="no-js vlt-is--services-01 vlt-is--header-fullscreen
	vlt-is--footer-style-1 vlt-is--footer-fixed" lang="en">

	{% extends "base.html" %}
	{% block body %}

	<!-- ============= Site overlay ============== -->
	<div class="vlt-site-overlay"></div>
	<!--Main-->
	<main class="vlt-main">
		<!--Page content-->
		<div class="vlt-page-content">
			<!--====== Page title ======-->
			<div class="vlt-page-title vlt-page-title--style-4">
				<div class="container">
					<div class="row">
						<div class="col-md-6 offset-md-1">
							<h1 class="vlt-page-title__title">We build modern experiences
							</h1>
						</div>
						<div class="col-md-4">
							<div class="vlt-page-title__phantom-title lax" data-lax-translate-x="0 0,
								vw (vw*0.5)"
								data-lax-opacity="1 1, 250 0" data-lax-anchor=".vlt-page-title">
								Services
							</div>
						</div>
					</div>
					<div class="vlt-gap-120"></div>
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<p class="text-justify">
								We are professional and creative in our approach, providing both generic
								and tailored web design solutions. The products we deliver have a
								responsive design that supports all devices, they stand out with their
								user-centered aspects, interactivity, and user-friendly features. Highly
								satisfied customers and improved business performance are some of the
								key outcomes we can assist you in achieving. Beyond providing
								top-quality web solutions, we are experienced in digital advertising and
								general business development. The solutions we offer here range from
								SEO, pay-per-click advertising and contextual advertising to new lead
								generation, and customer base expansion and activities.
							</p>
						</div>
						<div class="col-md-1"></div>
					</div>

				</div>
			</div>
			<div id="content"></div>


			<!--========================== services ==========================-->
			<section class="position-relative">
				<div class="vlt-gap-120"></div>
				<div class="vlt-gap-120"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-5" style="background-color: black;">
							<div class="position-relative">
								<!--Particle image-->
								<img class="vlt-particle service-img" src="{{ url_for('static', filename='img/service-image-04.png') }}"
									data-animation-name="fadeInUp" alt="" loading="lazy">
								<!--Simple image-->
								<div class="vlt-simple-image">
									<div class="vlt-simple-image__mask" data-aos="image-mask-animation"
										data-aos-delay="0">
										<div class="inside"></div>
									</div>
									<video width="100%" height="100%" autoplay muted loop
										style="margin-top:150px">

										<source src="{{ url_for('static', filename='img/video/webdesign.MP4') }}" type="video/mp4">
										<!-- <source src="movie.ogg" type="video/ogg"> -->
										Your browser does not support the video tag.
									</video>
								</div>
							</div>
							<div class="vlt-gap-60--sm"></div>
						</div>
						<div class="col-md-5 offset-md-2">
							<!--Animated block-->
							<div class="vlt-animated-block service-tt" data-aos="fade"
								data-aos-delay="100">
								<h2>Website Design & Development</h2>
								<div class="vlt-gap-40"></div>
								<p>
									DESIGN, RUN, DEVELOPMENT, AND MAINTENANCE OF::
								</p>
								<div class="vlt-gap-40"></div>
								<div class="has-black-color">
									<!--Styled list-->
									<ul class="vlt-styled-list vlt-styled-list--style-3">
										<li>WEBSITES
										</li>
										<li>WEB APPLICATIONS
										</li>
										<li>WEB SUPPORT AND MAINTENANCE
										</li>
										<li>QUALITY ASSURANCE AND TESTING
										</li>
										<li>E-COMMERCE APPLICATIONS
										</li>
										<li>CONTENT MANAGEMENT SYSTEMS
										</li>
									</ul>
								</div>
								<div class="vlt-gap-50"></div>
								<!--Button--><a class="vlt-btn vlt-btn--secondary vlt-btn--md" href="web_development" target="_self">learn more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="vlt-gap-120"></div>
				<div class="vlt-gap-120"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-5 offset-md-2 order-md-5" style="background-color:
							black;">
							<div class="position-relative">
								<!--Particle image-->

								<img class="vlt-particle service-img" src="{{ url_for('static', filename='img/service-image-05.png') }}"
									data-animation-name="fadeInUp" alt="" loading="lazy">
								<!--Simple image-->
								<div class="vlt-simple-image">
									<div class="vlt-simple-image__mask" data-aos="image-mask-animation"
										data-aos-delay="0">
										<div class="inside"></div>
									</div>
									<video width="100%" height="100%" autoplay muted loop
										style="margin-top:150px">

										<source src="{{ url_for('static', filename='img/video/ad.mp4') }}" type="video/mp4">
										<!-- <source src="movie.ogg" type="video/ogg"> -->
										Your browser does not support the video tag.
									</video>
								</div>
							</div>
							<div class="vlt-gap-60--sm"></div>
						</div>
						<div class="col-md-5">
							<!--Animated block-->
							<div class="vlt-animated-block service-tt" data-aos="fade"
								data-aos-delay="100">
								<h2>Digital Marketing</h2>
								<div class="vlt-gap-40"></div>
								<p>DIGITAL MARKETING AND ADVERTISING SOLUTIONS</p>
								<div class="vlt-gap-40"></div>
								<div class="has-black-color">
									<!--Styled list-->
									<ul class="vlt-styled-list vlt-styled-list--style-3">
										<li>SEO (Search engine optimization).
										</li>
										<li>PPC, google my business.
										</li>
										<li>Google Ads
										</li>
										<li>Social Media Marketing
										</li>
										<li>YouTube ads
										</li>
									</ul>
								</div>
								<div class="vlt-gap-50"></div>
								<!--Button--><a class="vlt-btn vlt-btn--secondary vlt-btn--md"
									href="ads-service" target="_self">learn more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="vlt-gap-120"></div>
				<div class="vlt-gap-120"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-5" style="background-color: black;">
							<div class="position-relative">
								<!--Particle image-->
								<img class="vlt-particle service-img" src="{{ url_for('static', filename='img/service-image-06.png') }}"
									data-animation-name="fadeInUp" alt="" loading="lazy">
								<!--Simple image-->
								<div class="vlt-simple-image">
									<div class="vlt-simple-image__mask" data-aos="image-mask-animation"
										data-aos-delay="0">
										<div class="inside"></div>
									</div>
									<video width="100%" height="100%" autoplay muted loop
										style="margin-top:150px">
										<source src="{{ url_for('static', filename='img/video/business-development.MP4') }}" type="video/mp4">
										<!-- <source src="movie.ogg" type="video/ogg"> -->
										Your browser does not support the video tag.
									</video>
								</div>
							</div>
							<div class="vlt-gap-60--sm"></div>
						</div>
						<div class="col-md-5 offset-md-2">
							<!--Animated block-->
							<div class="vlt-animated-block service-tt" data-aos="fade"
								data-aos-delay="100">
								<h2>Business Development</h2>
								<div class="vlt-gap-40"></div>
								<p>BUSINESS DEVELOPMENT (ZERO TO HERO/ ONLINE SOLUTIONS)</p>
								<div class="vlt-gap-40"></div>
								<div class="has-black-color">
									<!--Styled list-->
									<ul class="vlt-styled-list vlt-styled-list--style-3">
										<li>Branding
										</li>
										<li>Business plan and strategy
										</li>
										<li>Google map citation
										</li>
										<li>Website citation
										</li>
										<li>Facebook and Instagram citation
										</li>
										<li>Automation
										</li>

									</ul>
								</div>
								<div class="vlt-gap-50"></div>
								<!--Button--><a class="vlt-btn vlt-btn--secondary vlt-btn--md"
									href="order" target="_self">Start now</a>
							</div>
						</div>
					</div>
				</div>
				<div class="vlt-gap-120"></div>
			</section>


			<!--===================== Testimonial ======================-->

		</div>
	</main>


	{% endblock body%}